
body{
   
       /* font-family: 'Montserrat', sans-serif;*/
    font-family: 'Roboto', sans-serif;
     width: 100%;
    
 }

 h1{ font-family: 'Sacramento', cursive;
 color: #7b3c3c;

 }
 h2{
   font-family: 'Anton', sans-serif;
   color:#5c636e;
 }

 h3{
    color: #3b0944;

 }

a.nounderline:link{ 
text-decoration:none; 
} 

.texto1{
    font-size: 20px;
    color: #393e46;
}

.texto2{
    font-size: 12px;
    color: #000000;
    font-family: 'Roboto', sans-serif;
}
 
.navbar-menuprinc{
   color: #032a33;
   font-family: 'Anton' !important;
   font-size: 25px ;
   width: 100%;
   
   background-color: transparent !important;
}

.navbar-default {
    width: 100%;
     overflow: hidden;
     color: #032a33;
     background-color: #33425b;
     border-bottom: #33425b;
}

.fab {
    
    padding: 20px !important;
    color:  #032a33;
}

.fas {
    padding: 20px !important;
    color: #032a33;
}

.fas:hover{
    color: #bbbbbb;
}

.fab:hover{
    color: #bbbbbb;
}


.shr {
    
color: #000000;
height: 5px;
width: 70px;
}

 .border {
    border-color: #000000 !important;
    border-radius: 10px;
    color: transparent;
    box-shadow: 0.2px 0.2px 14px #2E2E2E ;

   }
.cxprt{
    padding-left: 20px !important;
    background-color: #FFFFFF !important
    padding: 00px;
}

div.container6 {
  height: 10em;
  display: flex;
  align-items: center;
  justify-content: center }
div.container6 p {
  margin: 0 }
#navbar-brand-princ{
    height: 34px;
    margin-top: -28px ;
    margin-left: -80px;
    background-color: #032a33;
    overflow: hidden;
}


#img-portf{
    height: 200px;
    margin-top: 100px;
    margin-left: 20px;
    
}

#img-portf2{

    height: 250px;
    margin-top: 80px;
    margin-left: 10px;
    
}

#imgprinc{
    
    height: auto;
    margin-top: 100px;
    margin-left: 200px !important;
}

#figprinc{
    height: 2500px;
    width: auto;
    padding-top: 800%;
    font-size: 20px;
    line-height: 1.5;
}

 #cx1 {
    border-width: thin;
    border-style: solid;
    border-color: #000000;
    }


#divtexto2{

    padding-top: 500px !important;
    background-color: #FFFFFF !important;
    font-family: 'Sacramento', cursive;
}

#contents  {    
    float: left;    
    width: 440px;   
    background: #9FC;   
    margin: 0 0 0 20px;
    background-color: #FFFFFF !important;  
    }



#inicio {    
     background-image: url(https://raw.githubusercontent.com/andrebarros220/andrebarros220.github.io/master/desk.jpeg);
     background-size: cover;
     font-family: 'Anton' !important;
     width: 100%;
    margin:auto;
    padding:240px ;
    overflow: hidden;
    
  }

#sobre {
     background-image: url(https://github.com/andrebarros220/andrebarros220.github.io/blob/master/notb.jpeg);
     background-size: cover;
     font-family: 'Anton'!important;
     color: #032a33;
     text-shadow: 2px;
     width:100%;
     margin:auto;
     padding:140px;
     background-color: #FFFFFF }

#portfolio {
   
    background-image: url( https://github.com/andrebarros220/andrebarros220.github.io/blob/master/penc.jpeg);
     background-size: cover;
    width: 100%;
    padding :150px ;
    margin: auto;
    color: #032a33 !important;
    font-family: 'Anton' !important;
    }


#contato {
    background-color: #eeeeee;
    width: 100%;
    padding:230px ;
   background-color: #ecf0f1;
   color: #8B4513 !important;
   font-family: 'Anton'!important;
   margin:auto;
  }

    .glyphicon{
        font-size:24px;
        color:#032a33}

.anime {
	opacity: 0;
	transform: translate3d(0,300px,0);
	transition: 0.9s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0,0,0);

}





