
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Alice|Libre+Baskerville|Roboto|Sacramento:400,500,700');
html,
body {
	height: 100%;
	width: 100%;
	background-color: #121212;
	font-family: 'Libre Baskerville', serif;
	font-size: 100%;
	color: #b4b4b4 !important;
}

.btn-primary {
	color: #696969!important;
	background-color: #1c1c1c !important;
	border-color: #696969 !important;
}

.btn-primary :hover {
	background-color: #FFD700 !important;
}

.textport {
	font-size: 60px;
	font-family: 'Sacramento', serif;
	color: #FFD700;
	padding: 30px;
}

.present {
	padding: 60px;
}

.my-4 {
	color: #b4b4b4;
}

.my-7 {
	color: #b4b4b4;
	background-color: #b4b4b4;
	width: 60%;
}


/*---Carousel --*/

.carousel-inner {
	height: 80%;
}

.carousel-inner img {
	width: 100%;
	height: 100%;
}

.carousel-caption {
	position: absolute;
	top: 45%;
	transform: translateY(-45%);
}

.carousel-caption h1 {
	font-family: 'Sacramento', bold;
	font-size: 350%;
	text-shadow: 5px 5px 5px #000;
	color: #FFD700;
}

.carousel-caption h3 {
	font-family: 'Roboto', bold;
	font-size: 200%;
	font-weight: 500;
	text-shadow: 2px 3px 10px #000;
	padding-bottom: 1rem;
	color: #FFFACD;
}

.card-body {
	background-color: #f3f8ff;
}

.jumbotron {
	padding: 1rem;
	border-radius: 0;
}

.padding {
	padding-bottom: 2rem;
}

.card {
	box-shadow: .2px .2px .1px;
}

footer {
	background-color: #3f3f3f;
	color: #d5d5d5;
	padding-top: 2rem;
}

hr.light {
	border-top: 1px solid #d5d5d5;
	width: 75%;
	margin-top: .8rem;
	margin-bottom: 1rem;
}

footer a {
	color: #d5d5d5;
}

.anime {
	opacity: 0;
	transform: translate3d(0, 60px, 0);
	transition: 0.9s;
}

.anime-start {
	opacity: 1;
	transform: translate3d(0, 0, 0);
}


/*---Loader Page --*/

.logo {
	width: 300px;
	height: 70px;
	margin: 150px auto 50px auto;
	font-size: 50px;
	text-shadow: -1px 2px 2px #000;
	text-align: center;
	color: #FFFFFF;
	padding-bottom: 10%;
}

.loader-frame {
	width: 70px;
	height: 70px;
	margin: auto;
	position: relative;
}

.loader1,
.loader2 {
	position: absolute;
	border: 5px solid transparent;
	border-radius: 75%;
}

.loader1 {
	width: 70px;
	height: 70px;
	border-top: 5px solid azure;
	border-bottom: 5px solid azure;
	animation: clockwisespin 2s linear 6;
}

.loader2 {
	width: 60px;
	height: 60px;
	border-top: 5px solid #424242;
	border-bottom: 5px solid #424242;
	top: 5px;
	left: 5px;
	animation: anticlockwisespin 2s linear 6;
}

@keyframes clockwisespin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@keyframes anticlockwisespin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(-360deg);
	}
}

@keyframes fadeout {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}

.circle-historic {
	position: relative;
	padding: 0;
	list-style: none;
}

.circle-historic:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 40px;
	width: 2px;
	margin-left: -1.5px;
	content: '';
}

.circle-historic>li {
	position: relative;
	min-height: 50px;
	margin-bottom: 50px;
}

.circle-historic>li:after,
.circle-historic>li:before {
	display: table;
	content: ' ';
}

.circle-historic>li:after {
	clear: both;
}

.circle-historic>li .circle-historic-panel {
	position: relative;
	float: right;
	width: 100%;
	padding: 0 20px 0 100px;
	text-align: left;
}

.circle-historic>li .circle-historic-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 10px;
	border-left-width: 10;
}

.circle-historic>li .circle-historic-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.circle-historic>li .circle-historic-image {
	position: absolute;
	z-index: 100;
	left: 0;
	width: 70px;
	height: 70px;
	margin-left: 0;
	text-align: center;
	color: white;
	border: 3.5px solid #8B7D7B;
	border-radius: 100%;
	background-color: #FFD700;
}

.circle-historic>li .circle-historic-image h4 {
	font-size: 10px;
	line-height: 14px;
	margin-top: 12px;
}

.circle-historic>li.circle-historic-inverted>.circle-historic-panel {
	float: right;
	padding: 0 20px 0 100px;
	text-align: left;
}

.circle-historic>li.circle-historic-inverted>.circle-historic-panel:before {
	right: auto;
	left: -40px;
	border-right-width: 40px;
	border-left-width: 0;
}

.circle-historic>li.circle-historic-inverted>.circle-historic-panel:after {
	right: auto;
	left: -35px;
	border-right-width: 35px;
	border-left-width: 0;
}

.circle-historic>li: last-child {
	margin-bottom: 0;
}

.circle-historic .circle-historic-heading h4.subheading {
	text-transform: none;
	color: #FFD700;
}

.circle-historic .circle-historic-body>ul,
.circle-historic .circle-historic-body>p {
	margin-bottom: 0;
}

ul.social-buttons li a {
	font-size: 30px;
	line-height: 60px;
	width: 60px;
	height: 60px;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
	color: white;
	border-radius: 100%;
	outline: none;
	display: block;
	background-color: #FFD700;
}

ul.social-buttons li a:active,
ul.social-buttons li a:focus,
ul.social-buttons li a:hover {
	background-color: #696969;
}

.team-member {
	margin-bottom: 60px;
	text-align: center;
}

.team-member img {
	width: 220px;
	height: 220px;
	border: 8px solid #696969;
}

.team-member h4 {
	margin-top: 35px;
	margin-bottom: 0;
	text-transform: none;
}

.team-member p {
	margin-top: 0;
}


/*
  skillS
*/

.stext {
	color: #696969;
}

.skill-box {
	box-shadow: 13px 8px -10px #000000;
}

.skill-box {
	background-color: #424242;
	padding: 2.5rem 1.3rem;
	border-radius: 1rem;
	margin-bottom: 3rem;
}

.skill-box .skill-ico {
	margin-bottom: 1rem;
	padding-left: 70px;
}

.ico-orange {
	transition: all 500ms ease;
	font-size: 4rem;
	color: #FFD700;
}

.skill-box .s-title {
	font-size: 1.4rem;
	text-transform: uppercase;
	text-align: center;
	padding: .4rem 0;
}

.skill-box .s-description {
	color: #1c1c1c;
}

.title-box {
	margin-bottom: 4rem;
}


/*---Media Queries --*/

@media (max-width: 576px) {
	.carousel-caption {
		top: 45%;
		padding: 10px 10px;
	}
	.carousel-caption h1 {
		font-size: 240%;
	}
	.carousel-caption h3 {
		font-size: 110%;
		font-weight: 400;
		padding-bottom: 2.rem;
	}
	.carousel-caption .btn {
		font-size: 90%;
		padding: 4px 8px;
	}
	.carousel-indicators {
		display: none;
	}
	.display-4 {
		font-size: 160%;
	}
	.social a {
		font-size: 2em;
		padding: .7rem;
	}
	.jb h1 {
		font-size: 40% !important;
	}
}

@media (max-width: 768px) {
	.carousel-caption {
		top: 45%;
	}
	.carousel-caption h1 {
		font-size: 270%;
		padding-left: 70%;
	}
	.carousel-caption h3 {
		font-size: 140%;
		font-weight: 400;
		padding-bottom: .2rem;
	}
	.carousel-caption .btn {
		font-size: 95%;
		padding: 8px 14px;
	}
}

@media (min-width: 768px) {
	.circle-historic:before {
		left: 50%;
	}
	.circle-historic>li {
		min-height: 100px;
		margin-bottom: 100px;
	}
	.circle-historic>li .circle-historic-panel {
		float: left;
		width: 41%;
		padding: 0 20px 20px 30px;
		text-align: right;
	}
	.circle-historic>li .circle-historic-image {
		left: 50%;
		width: 100px;
		height: 100px;
		margin-left: -50px;
	}
	.circle-historic>li .circle-historic-image h4 {
		font-size: 13px;
		line-height: 18px;
		margin-top: 16px;
	}
	.circle-historic>li.circle-historic-inverted>.circle-historic-panel {
		float: right;
		padding: 0 30px 20px 20px;
		text-align: left;
	}
}

@media (min-width: 992px) {
	.circle-historic>li {
		min-height: 150px;
	}
	.circle-historic>li .circle-historic-panel {
		padding: 0 20px 20px;
	}
	.circle-historic>li .circle-historic-image {
		width: 150px;
		height: 150px;
		margin-left: -75px;
	}
	.circle-historic>li .circle-historic-image h4 {
		font-size: 18px;
		line-height: 26px;
		margin-top: 30px;
	}
	.circle-historic>li.circle-historic-inverted>.circle-historic-panel {
		padding: 0 20px 20px;
	}
}

@media (min-width: 1200px) {
	.circle-historic>li {
		min-height: 170px;
	}
	.circle-historic>li .circle-historic-panel {
		padding: 0 20px 20px 100px;
	}
	.circle-historic>li .circle-historic-image {
		width: 170px;
		height: 170px;
		margin-left: -85px;
	}
	.circle-historic>li .circle-historic-image h4 {
		margin-top: 40px;
	}
	.circle-historic>li.circle-historic-inverted>.circle-historic-panel {
		padding: 0 100px 20px 20px;
	}
}

/*---Firefox Bug Fix --*/

.carousel-item {
	transition: -webkit-transform 0.5s ease;
	transition: transform 0.5s ease;
	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
	-webkit-backface-visibility: visible;
	backface-visibility: visible;
}


/*--- Bootstrap Padding Fix --*/

[class*="col-"] {
	padding: 1rem;
}

